<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.haoranwu.hpc-notify</string>

  <key>WorkingDirectory</key>
  <string>/Users/haoranwu/Desktop/Yan_Lab_Research/Medical-SAM3</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/Users/haoranwu/Desktop/Yan_Lab_Research/Medical-SAM3/scripts/hpc_progress_reporter_launch.sh</string>
  </array>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <true/>

  <key>StandardOutPath</key>
  <string>/Users/haoranwu/.hpc_progress_reporter.stdout</string>

  <key>StandardErrorPath</key>
  <string>/Users/haoranwu/.hpc_progress_reporter.stderr</string>

  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/usr/local/bin:/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
 </dict>
</plist>
