<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.medsam3.hpc-progress-reporter</string>

  <key>WorkingDirectory</key>
  <string>/Users/haoranwu/Desktop/Yan_Lab_Research/Medical-SAM3</string>

  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/python3</string>
    <string>-u</string>
    <string>/Users/haoranwu/.local/bin/medsam3/hpc_progress_reporter.py</string>
    <string>--watch</string>
    <string>--interval</string>
    <string>300</string>
    <string>--job-ids</string>
    <string>10811364,10811365,10811366,10811376,10813395,10813396,10813397,10813401</string>
    <string>--include-logs</string>
    <string>--email-to</string>
    <string>vettel.hwu@gmail.com</string>
    <string>--email-on</string>
    <string>change</string>
    <string>--email-method</string>
    <string>smtp</string>
    <string>--push-channel</string>
    <string>pushdeer</string>
    <string>--push-on</string>
    <string>change</string>
    <string>--state-file</string>
    <string>/Users/haoranwu/.hpc_progress_reporter_state.json</string>
    <string>--local-log</string>
    <string>/Users/haoranwu/.hpc_progress_reporter.log</string>
  </array>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <true/>

  <key>StandardOutPath</key>
  <string>/Users/haoranwu/.hpc_progress_reporter.stdout</string>

  <key>StandardErrorPath</key>
  <string>/Users/haoranwu/.hpc_progress_reporter.stderr</string>

  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/usr/local/bin:/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    <key>SMTP_HOST</key>
    <string>smtp.gmail.com</string>
    <key>SMTP_PORT</key>
    <string>587</string>
    <key>SMTP_USER</key>
    <string>vettel.hwu@gmail.com</string>
    <key>SMTP_FROM</key>
    <string>vettel.hwu@gmail.com</string>
    <key>SMTP_PASS</key>
    <string>PASTE_GMAIL_APP_PASSWORD_HERE</string>
    <key>PUSHDEER_PUSHKEY</key>
    <string>PASTE_PUSHDEER_KEY_HERE</string>
  </dict>
</dict>
</plist>
